* {
    margin: 0;
    padding: 0;
    align-items: center;

}

body{
    background-color: #8CB9BD;
}

h1 {
    background-color: #ECB159;
    height: 4rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    height: 38rem;
    width: 80rem;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}

.spc {
    height: 20rem;
    width: 60rem;
    margin: auto;
    margin-top: 20px;
    background-color: #FEFBF6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.element1 {
    background-image: url("./images/paper.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    display: inline-flex;
    border-radius: 50%;
    padding-right: 10px;
    margin-right: 10px;

}

.element2 {
    background-image: url("./images/rock.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    display: inline-flex;
    border-radius: 50%;
    padding-right: 10px;
    margin-right: 10px;
}

.element3 {
    background-image: url("./images/sciss.png");
    background-size: cover;
    border: #8CB9BD;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 10px;
    padding-right: 10px;
    /* border: 2px solid black; */
    border-radius:50% ;

}

.result{
    width: 30rem;
    height: 3rem;
    background-color: #fff;
    margin-left: 27rem;
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 700;
    
}

.score,.name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    margin-left: 30rem;
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
 
}

.computer{
    margin: auto;
    margin-right: 30rem;
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
 
}

.use{
    font-size: 2.5rem;
    margin-right: 14rem;
    margin-left: 5rem;
    margin-bottom: 5px;
}

.comp{
    font-size: 2.5rem;
    /* margin-right: 14rem; */
    margin-bottom: 5px;
}

